<div class="d-flex flex-column">
    <h2 class="align-self-center align-self-lg-start">Login</h2>
    <form class="align-items-center align-items-lg-start mx-auto mx-lg-0" [formGroup]="form">
        <label for="">email</label>
        <input type="text" class="form-control" formControlName="email">
        <label for="">Senha</label>
        <input type="password" class="form-control" formControlName="senha">
        <div class="flex-column flex-sm-row d-flex">
            <button (click)="login($event)">Entrar</button>
            <p>ou</p>
            <a href="" routerLink="/cadastro">Cadastre-se</a>
        </div>
    </form>
    <div class="align-self-center align-self-lg-start mt-3"><p>Esqueceu sua senha? <a routerLink="/recuperarSenha">Atualize</a></p></div>
</div>